.pdfContainer :global(.react-pdf__Page__canvas) {
  max-width: 100%;
  height: auto !important;
}

.pdfContainer {
  max-width: 90vw;
  max-height: 70vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
